.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
    display: -webkit-flex;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
    width: 50%;
    overflow: hidden;
}
.signin-form {
    margin-right: 90px;
    margin-left: 80px;
    width: 50%;
    overflow: hidden;
}
.form-title {
    margin-bottom: 33px;
}

.sign-in h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins;
    font-size: 36px;}

.register-form {
    width: 100%;
}
.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}
label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}

input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;}

.main {
    background: #f8f8f8;
    padding: 150px 0;
}
.container{
    width: 900px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.signup-image-link {
    font-size: 14px;
    color: #222;
    display: block;
    text-align: center;
}

.signup {
    margin-bottom: 150px;
}
.signup-content {
    display: -webkit-flex;
}
.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
    width: 50%;
    overflow: hidden;
}
.signup-image {
    margin: 0 55px;
    width: 50%;
    overflow: hidden;

}
.signup .figure {
    margin-bottom: 50px;
    text-align: center;
}